/*General Rules*/

body {
  background: rgb(223, 167, 176);
  background-image: linear-gradient(white, rgb(223, 167, 176));*/
  margin: 0;
  font-family: "Chilanka", cursive;
  color: rgb(105, 11, 11);
}

.container {
  display: grid;
  grid-template-rows: repaet(3, auto);
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

h1 {
  font-size: 5em;
  text-align: center;
}

h1 span {
  color: rgb(184, 36, 134);
}

.page__header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  grid-area: hd;
}

.navbar__logo {
  width: 150px;
  height: 100px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar__menu {
  width: 50%;
}

h2 {
  border-bottom: 1px solid rgb(184, 36, 134);
  font-size: 3em;
  color: rgb(105, 11, 11);
}

p {
  line-height: 1.6em;
  color: rgb(105, 11, 11);
}

main {
  display: block;
  grid-area: main;
  margin-bottom: 200px;
}

.mySlides {
  display: none;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: relative;
  min-height: 80vh;
  margin-right: 30px;
  margin-left: 30px;
}

.navbar__menu ul {
  text-align: right;
}

.navbar__menu li {
  display: inline-flex;
  padding-left: 8px;
}

.navbar__menu .menu__link {
  display: inline-flex;
  font-weight: bold;
  text-decoration: none;
  color: rgb(105, 11, 11);
  font-size: 20px;
  padding-left: 20px;
}

.navbar__menu .menu__link:hover {
  color: rgb(184, 36, 134);
  transition: ease 0.5s all;
}

/* Header Styles */

.page__header {
  background: #fff;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 5;
}

.page__footer {
  color: #fff;
  text-align: center;
  grid-area: ft;
}

.page__footer p {
  color: #fff;
}

.landing__container {
  padding: 1em;
  text-align: left;
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

#box {
  border: 1px solid  rgb(184, 36, 134);
  border-radius: 5px;
  width: fit-content;
}

.btn {
  width: 100px;
  height: 30px;
  border: 1px solid  rgb(184, 36, 134);
  border-radius: 5px;
  color: #fff;
  background-color: rgb(184, 36, 134);
  font-weight: bold;
}

.icon {
width: 80px;
height: 80px;
}
@media only screen and (max-width: 1050px) {

#navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
h1 {
  font-size: 3em;
  text-align: center;
}

}

