/*General Rules*/

body {
  background: white;
  background-image: linear-gradient(white, rgb(223, 167, 176));
  margin: 0;
  font-family: "Chilanka", cursive;
  color: rgb(105, 11, 11);
}

.container {
  display: grid;
  grid-template-rows: repaet(3, auto);
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

h1 {
  font-size: 5em;
  text-align: center;
}

.page__header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  grid-area: hd;
}

.navbar__logo {
  width: 150px;
  height: 150px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar__menu {
  width: 50%;
}

h2 {
  border-bottom: 1px solid rgb(184, 36, 134);
  font-size: 3em;
  color: rgb(105, 11, 11);
}

p {
  line-height: 1.6em;
  color: rgb(105, 11, 11);
}

main {
  display: block;
  grid-area: main;
}

.mySlides {
  display: none;
  width: 90%;
  height: 400px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: relative;
  min-height: 80vh;
  margin-right: 30px;
  margin-left: 30px;
}

.navbar__menu ul {
 text-align: right;
}

.navbar__menu li {
  display: inline-flex;
  padding-left: 8px;
}

.navbar__menu .menu__link {
  display: inline-flex;
  font-weight: bold;
  text-decoration: none;
  color: rgb(105, 11, 11);
  font-size: 20px;
  padding-left: 20px;
}

.navbar__menu .menu__link:hover {
  color: rgb(184, 36, 134);
  transition: ease 0.5s all;
}

/* Header Styles */

.page__header {
  background: #fff;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 5;
}

.page__footer {
  padding: 3em;
  color: #fff;
  text-align: center;
  grid-area: ft;
}

.page__footer p {
  color: #fff;
}

.landing__container {
  padding: 1em;
  text-align: left;
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: White;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
}

#topButton:hover {
  background-color: rgb(128, 30, 30);
  border: none;
}
